---
import { Icon } from 'astro-icon'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
    <div class="bg-green-300 border-green-600 border-b p-4 m-4 rounded">
      With Tailwind
    </div>
    <div class="flex items-center p-4 m-4 bg-blue-300 border-blue-600 border-b">
      <p>Astro Icon: </p>
      <Icon class="text-red-300" size="33" name="mdi:account"/>
    </div>
	</body>
</html>